/projects
/shell-snapshots
/todos
/ide
/statsig
/logs
/file-history
/debug
/.claude
.DS_Store
.serena
history.jsonl
.update.lock
/plans
stats-cache.json
/chrome/chrome-native-host
/cache/changelog.md
/plugins
update-claude-code.log
